<div id="#top"></div>
<header class="header">
  <div class="container">
    <nav class="navbar navbar-inverse" role="navigation">
      <div class="navbar-header">
        <button
          type="button"
          id="nav-toggle"
          class="navbar-toggle"
          data-toggle="collapse"
          data-target="#main-nav"
        >
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a href="#" class="navbar-brand scroll-top logo animated bounceInLeft">
          <b>
            Image Captioning
            <i></i>
          </b>
        </a>
      </div>
      <!--/.navbar-header-->
      <div id="main-nav" class="collapse navbar-collapse">
        <ul class="nav navbar-nav" id="mainNav">
          <li class="active" id="firstLink">
            <a href="#home" class="scroll-link">Home</a>
          </li>
          <li><a href="#features" class="scroll-link">Features</a></li>
          <li><a href="#tryIt" class="scroll-link">Try It</a></li>
          <li><a href="#services" class="scroll-link">Services</a></li>
          <li><a href="#team" class="scroll-link">Team</a></li>
          <li><a href="#contactUs" class="scroll-link">Contact Us</a></li>
        </ul>
      </div>
      <!--/.navbar-collapse-->
    </nav>
    <!--/.navbar-->
  </div>
  <!--/.container-->
</header>
<!--/.header-->

<ion-content>
  <section id="home">
    <div class="banner-container">
      <img src="assets/images/banner-bg.jpg" alt="banner" />
      <div class="container banner-content">
        <div class="hero-text animated fadeInDownBig">
          <a href="#" class="scroll-top logo animated bounceInLeft">
            <b>Image Captioning</b>
          </a>
          <h1 class="responsive-headline" style="font-size: 40px;">
            Uploading your image
            <br />
            We will caption for it
          </h1>
          <a href="#basics" class="arrow-link">
            <i class="fa fa-chevron-down fa-2x"></i>
          </a>
          <!--<p>Awesome theme for your Business or Corporate site to showcase <br/>
        your product and service.</p>-->
        </div>

        <!-- <a class="hero-button learn-more smoothscroll text-center" href="#features">Learn More</a>-->
        <!-- <div class="hero-img"> <img src="images/homepage-1204-background-lapto.png" alt="" class="text-center animated fadeInUpBig"/></div>-->
      </div>
    </div>
  </section>

  <section id="features" class="page-section colord features">
    <div class="container">
      <div class="heading text-center">
        <!-- Heading -->
        <h2>Features</h2>
        <p>
          The website will caption for your image you uploaded automatically.
        </p>
      </div>
      <div class="row">
        <!-- FEATURES LEFT -->
        <div class="col-md-4 col-sm-4 features-left wow">
          <!-- FEATURE -->
          <div class="feature">
            <!-- ICON -->
            <div class="icon-container">
              <div class="icon"><i class="icon_map_alt"></i></div>
            </div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <div class="fetaure-details">
              <h4 class="main-color">Image Captioning</h4>
              <p>
                Caption image automatically.
              </p>
            </div>
          </div>
          <!-- /END SINGLE FEATURE -->

          <!-- FEATURE -->
          <div class="feature">
            <!-- ICON -->
            <div class="icon-container">
              <div class="icon"><i class="icon_gift_alt"></i></div>
            </div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
          </div>
          <!-- /END SINGLE FEATURE -->

          <!-- FEATURE -->
          <div class="feature">
            <!-- ICON -->
            <div class="icon-container">
              <div class="icon"><i class="icon_tablet"></i></div>
            </div>
          </div>
          <!-- /END SINGLE FEATURE -->
        </div>
        <!-- /END FEATURES LEFT -->

        <!-- PHONE IMAGE -->
        <div class="col-md-4 col-sm-4">
          <div class="phone-image wow">
            <img src="assets/images/single-iphone.png" alt="" />
          </div>
        </div>

        <!-- FEATURES RIGHT -->
        <div class="col-md-4 col-sm-4 features-right wow">
          <!-- FEATURE -->
          <div class="feature">
            <!-- ICON -->
            <div class="icon-container">
              <div class="icon"><i class="icon_genius"></i></div>
            </div>

            <!-- FEATURE HEADING AND DESCRIPTION -->
            <div class="fetaure-details">
              <h4 class="main-color">Module Search</h4>
              <p>
                Search all image in database that its caption is almost the same
                your caption you want
              </p>
            </div>
          </div>
          <!-- /END SINGLE FEATURE -->

          <!-- FEATURE -->
          <div class="feature">
            <!-- ICON -->
            <div class="icon-container">
              <div class="icon"><i class="icon_lightbulb_alt"></i></div>
            </div>
          </div>

          <!-- /END SINGLE FEATURE -->

          <!-- FEATURE -->
          <div class="feature">
            <!-- ICON -->
            <div class="icon-container">
              <div class="icon"><i class="icon_ribbon_alt"></i></div>
            </div>
          </div>
          <!-- /END SINGLE FEATURE -->
        </div>
        <!-- /END FEATURES RIGHT -->
      </div>
    </div>

    <!--/.container-->
  </section>
  <section id="tryIt">
    <div class="container">
      <div class="row">
        <div class="heading text-center">
          <h2>Try it</h2>
        </div>
      </div>
      <ion-grid>
        <ion-row>
          <ion-col size="6" size-sm="4" size-md="3" offset-sm="2" offset-md="3">
            <ion-button
              (click)="captureImageFromCamera()"
              expand="full"
              color="primary"
            >
              <ion-icon name="image" class="mr-5"></ion-icon>
              Upload image
            </ion-button>
          </ion-col>
          <ion-col size="6" size-sm="4" size-md="3">
            <ion-button (click)="searchCaption()" expand="full" color="primary">
              <ion-icon name="search-outline" class="mr-5"></ion-icon>
              Search
            </ion-button>
          </ion-col>
          <ion-col size="12">
            <input
              type="file"
              accept="image/jpeg"
              #filePicker
              (change)="onFileChosen($event)"
            />
          </ion-col>
        </ion-row>
        <ion-row *ngIf="imgUrl && !searchGenerated">
          <ion-col
            size="12"
            size-sm="8"
            size-md="6"
            offset-sm="2"
            offset-md="3"
          >
            <div class="img">
              <ion-img
                [src]="imgUrl"
                style="
                  width: 100%;
                  border: 1px solid #36bfba;
                  height: 300px;
                  object-fit: contain;
                "
              ></ion-img>
            </div>
          </ion-col>
        </ion-row>
        <ion-row *ngIf="imgUrl && !searchGenerated">
          <ion-col size="6" size-sm="4" size-md="6" offset-sm="2" offset-md="3">
            <ion-button
              expand="full"
              (click)="generateCaption_view()"
              color="secondary"
            >
              <ion-icon name="finger-print" class="mr-5"></ion-icon>
              Generate Caption
            </ion-button>
          </ion-col>
        </ion-row>
        <div class="heading text-center">
          <ion-row *ngIf="!imgUrl && !searchGenerated">
            <ion-col>
              <div class="none">
                No Image Selected!
              </div>
            </ion-col>
          </ion-row>
        </div>
      </ion-grid>

      <ion-header *ngIf="searchGenerated">
        <ion-toolbar>
          <ion-searchbar
            [(ngModel)]="searchText"
            (ionChange)="onSearchChange($event)"
            (keyup.enter)="performSearch()"
            placeholder="Search Caption to get images in database"
          ></ion-searchbar>
          <ion-buttons slot="end">
            <ion-button (click)="performSearch()" class="custom-search-button">
              <ion-icon name="search"></ion-icon>
            </ion-button>
          </ion-buttons>
        </ion-toolbar>
      </ion-header>

      <!-- Add this table code after the existing code in the <section id="tryIt"> -->
      <!-- home.page.html -->
      <div
        class="caption"
        *ngIf="captionGenerated"
        style="background-color: white;"
      >
        <div class="close" (click)="hideCaption_generate()">
          <ion-icon name="close"></ion-icon>
        </div>
        <div class="spinner" *ngIf="!resultGenerated"></div>
        <h4 class="message" *ngIf="!resultGenerated">Please wait!!!</h4>

        <div class="content" *ngIf="resultGenerated">
          <div class="image-container">
            <ion-img [src]="imgUrl" class="small-image"></ion-img>
          </div>
          <div class="heading text-center">
            <h3>The caption of your image is: {{caption}}</h3>
          </div>
          <ion-row *ngIf="imgUrl">
            <ion-col
              size="6"
              size-sm="4"
              size-md="3"
              offset-sm="2"
              offset-md="3"
            >
              <ion-button
                expand="full"
                (click)="generateCaption_read()"
                color="danger"
              >
                <ion-icon name="mic-outline" class="mr-5"></ion-icon>
                Read Caption
              </ion-button>
            </ion-col>
            <ion-col size="6" size-sm="4" size-md="3">
              <ion-button expand="full" (click)="copyCaption()" color="primary">
                <ion-icon name="copy" class="mr-5"></ion-icon>
                Copy Caption
              </ion-button>
            </ion-col>
          </ion-row>
        </div>
      </div>
      <div
        class="caption"
        *ngIf="search && searchResults.length > 0"
        style="background-color: white;"
      >
        <div class="close" (click)="hideCaption_search()">
          <ion-icon name="close"></ion-icon>
        </div>
        <div class="content" *ngIf="search">
          <table>
            <thead>
              <tr>
                <th>#</th>
                <th>Caption</th>
                <th>Score</th>
                <th>Image</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let result of searchResults; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ result.caption }}</td>
                <td>{{ result.score }}</td>
                <td>
                  <img [src]="result.url" alt="Image" class="imgtable" />
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </section>

  <section id="services">
    <div class="container services">
      <div class="heading text-center">
        <!-- Heading -->
        <h2>Framework</h2>
        <p>
          LIST FRAMEWORK USED IN PROJECT
        </p>
      </div>
      <div class="serviceBox">
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <h3>
              <i class="fa fa-desktop color"></i>
              &nbsp; Transformer
            </h3>
            <!-- Paragraph -->
            <p>
              The Transformer architecture revolutionized natural language
              processing with its self-attention mechanism, enabling effective
              capture of word dependencies and improving performance in NLP
              tasks..
            </p>
          </div>
          <div class="col-md-4 col-sm-4">
            <!-- Heading -->
            <h3>
              <i class="fa fa-cloud color"></i>
              &nbsp;FastAPI
            </h3>
            <!-- Paragraph -->
            <p>
              FastAPI is a high-performance web framework for building APIs with
              Python.
            </p>
          </div>
          <div class="col-md-4 col-sm-4">
            <!-- Heading -->
            <h3>
              <i class="fa fa-home color"></i>
              &nbsp;Angular
            </h3>
            <!-- Paragraph -->
            <p>
              Angular is a popular frontend framework for building dynamic web
              applications.
            </p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 col-sm-4">
            <h3>
              <i class="fa fa-desktop color"></i>
              &nbsp;MS COCO
            </h3>
            <!-- Paragraph -->
            <p>
              The MS COCO dataset is a widely-used dataset in computer vision
              for object detection and image captioning tasks.
            </p>
          </div>
          <div class="col-md-4 col-sm-4">
            <!-- Heading -->
            <h3>
              <i class="fa fa-cloud color"></i>
              &nbsp;Python
            </h3>
            <!-- Paragraph -->
            <p>
              Python is a popular and versatile programming language known for
              its simplicity and readability, often used for backend
              development, data analysis, and machine learning..
            </p>
          </div>
          <div class="col-md-4 col-sm-4">
            <!-- Heading -->
            <h3>
              <i class="fa fa-home color"></i>
              &nbsp;Typescript
            </h3>
            <!-- Paragraph -->
            <p>
              TypeScript is a strongly typed superset of JavaScript that adds
              static typing and other features to enhance JavaScript development
              for large-scale applications, providing improved tooling and
              maintainability.
            </p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section id="team" class="page-section">
    <div class="container">
      <div class="heading text-center">
        <!-- Heading -->
        <h2>Team</h2>
        <p>
          The information my team
        </p>
      </div>
      <!-- Team Member's Details -->
      <div class="team-content">
        <div class="row">
          <div class="col-md-3 col-sm-6 col-xs-6"></div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <!-- Team Member -->
            <div class="team-member pDark">
              <!-- Image Hover Block -->
              <div class="member-img">
                <!-- Image  -->
                <img
                  class="img-responsive"
                  src="assets/images/photo-1.jpg"
                  alt=""
                />
              </div>
              <!-- Member Details -->
              <h4>Nguyễn Lê Bảo Thanh</h4>
              <!-- Designation -->
              <span class="pos">19110019</span>
              <div class="team-socials">
                <a
                  href="https://www.facebook.com/lebaothanh.nguyen.73"
                  target="blank"
                >
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="mailto:19110019@student.hcmute.edu.vn" target="blank">
                  <i class="fa fa-envelope"></i>
                </a>
                <a href="https://github.com/Bao-Thanh" target="blank">
                  <i class="fa fa-github"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6">
            <!-- Team Member -->
            <div class="team-member pDark">
              <!-- Image Hover Block -->
              <div class="member-img">
                <!-- Image  -->
                <img
                  class="img-responsive"
                  src="assets/images/photo-2.jpg"
                  alt=""
                />
              </div>
              <!-- Member Details -->
              <h4>Huỳnh Nguyễn Tấn Nhạc</h4>
              <!-- Designation -->
              <span class="pos">19110252</span>
              <div class="team-socials">
                <a
                  href="https://www.facebook.com/profile.php?id=100009754263122"
                  target="blank"
                >
                  <i class="fa fa-facebook"></i>
                </a>
                <a href="mailto:19110@student.hcmute.edu.vn" target="blank">
                  <i class="fa fa-envelope"></i>
                </a>
                <a href="https://github.com/tannhac2310" target="blank">
                  <i class="fa fa-github"></i>
                </a>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-6"></div>
        </div>
      </div>
    </div>
    <!--/.container-->
  </section>
  <section id="contactUs" class="contact-parlex">
    <div class="parlex-back">
      <div class="container">
        <div class="row">
          <div class="heading text-center">
            <!-- Heading -->
          </div>
        </div>
        <div class="row mrgn30">
          <form
            (submit)="sendEmail()"
            method="post"
            action="sendEmail"
            id="contactfrm"
            role="form"
          >
            <div class="col-sm-12">
              <div class="form-group">
                <label for="title">Title</label>
                <input
                  type="text"
                  class="form-control"
                  name="text"
                  id="title"
                  placeholder="Enter title"
                  title="Please enter a title for email"
                />
              </div>
              <div class="form-group">
                <label for="name">Name</label>
                <input
                  type="text"
                  class="form-control"
                  name="name"
                  id="name"
                  placeholder="Enter name"
                  title="Please enter your name (at least 2 characters)"
                />
              </div>
              <div class="form-group">
                <label for="comments">Comments</label>
                <textarea
                  name="comment"
                  class="form-control"
                  id="comments"
                  cols="3"
                  rows="5"
                  placeholder="Enter your message…"
                  title="Please enter your message (at least 10 characters)"
                ></textarea>
                <button
                  name="submit"
                  type="submit"
                  class="btn btn-lg btn-primary"
                  id="submit"
                >
                  Submit
                </button>
              </div>
              <div class="result"></div>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div *ngIf="showMessage" class="message">
      Thank you for your feedback!
    </div>
  </section>

  <footer>
    <div class="container">
      <div class="social text-center">
        <a href="#"><i class="fa fa-twitter"></i></a>
        <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-dribbble"></i></a>
        <a href="#"><i class="fa fa-flickr"></i></a>
        <a href="https://github.com/Bao-Thanh/Image_Captioning" target="blank">
          <i class="fa fa-github"></i>
        </a>
      </div>
      <div class="clear"></div>
      <!--CLEAR FLOATS-->
    </div>
  </footer>
  <!--/.page-section-->
  <section class="copyright">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center">
          &copy; 2023
          <span id="currentYear"></span>
          | All Rights Reserved --
          <!-- <a href="http://webThemez.com">WebThemez.com</a> -->
        </div>
      </div>
      <!-- / .row -->
    </div>
  </section>

  <script>
    var currentYear = new Date().getFullYear()
    document.getElementById('currentYear').textContent = currentYear
  </script>

  <!-- <section class="" style="position: absolute; top: 0; left: 0; right: 0;">
    <div class="background">
      <div class="img1" style="background-color: #063c52; display: flex; justify-content: center; border-bottom: 1px solid #073f54;">
        <img src="assets/images/imeca_logo2.gif" alt="" style="width: 200px; height: 200px;">
      </div>
      <div>
        <img src="assets/images/wave.svg" alt="">
      </div>
    </div>
  </section> -->
</ion-content>

<a href="#top" class="topHome"><i class="fa fa-chevron-up fa-2x"></i></a>

<!--[if lte IE 8]>
  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<![endif]-->
<script src="assets/js/modernizr-latest.js"></script>
<script src="assets/js/jquery-1.8.2.min.js" type="text/javascript"></script>
<script src="assets/js/bootstrap.min.js" type="text/javascript"></script>
<script src="assets/js/jquery.isotope.min.js" type="text/javascript"></script>
<script
  src="assets/js/fancybox/jquery.fancybox.pack.js"
  type="text/javascript"
></script>
<script src="assets/js/jquery.nav.js" type="text/javascript"></script>
<script src="assets/js/jquery.fittext.js"></script>
<script src="assets/js/waypoints.js"></script>
<script src="assets/js/custom.js" type="text/javascript"></script>
<script src="assets/js/owl-carousel/owl.carousel.js"></script>
