.mr-5 {
  margin-right: 5px;
}

input[type="file"] {
  display: none;
}

ion-header {
  position: relative;
  z-index: 1;
}

.caption {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 380px;
  background: #eee;
  border-top: 3px solid #aaa;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  animation: animatop 1.2s cubic-bezier(0.425, 1.14, 0.47, 1.125) forwards;
  overflow: scroll;
  z-index: 1;

  .close {
    position: absolute;
    top: 20px;
    right: 40px;

    ion-icon {
      font-size: 1.2rem;
      font-weight: 500;
      color: #f00;
      padding: 5px;
      border: 1px solid #777;
      border-radius: 15px;
    }
  }

  .content {
    width: 80%;
    margin: auto;
    padding: 20px 10px;
    line-height: 2;
    letter-spacing: 2.4px;
    color: #063c52;
    font-family: "Lucida Console", "Courier New", monospace;
  }
}

@keyframes animatop {
  0% {
      opacity: 0;
      bottom: -500px;
  }
  100% {
      opacity: 1;
      bottom: 0px;
  }
}

@keyframes animainfos {
  0% {
      bottom: 10px;
  }
  100% {
      bottom: -42px;
  }
}

@keyframes rotatemagic {
  0% {
      opacity: 0;
      transform: rotate(0deg);
      top: -24px;
      left: -253px;
  }
  100% {
      transform: rotate(-30deg);
      top: -24px;
      left: -78px;
  }
}

.custom-searchbar {
  background-color: #f1f1f1;
  border-radius: 20px;
  padding: 10px;
  font-size: 16px;
  color: #333;
}

.custom-search-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: #36bfba;
  color: #fff;
  border-radius: 20px;
  font-size: 16px;
  padding: 10px 20px;
}

.custom-search-button ion-icon {
  font-size: 14px;
}


.image-container {
  display: flex;
  justify-content: center;
}

.small-image {
  width: 200px; /* Adjust the width as needed */
  height: auto;
  border: 1px solid #36bfba;
  max-height: 400px;
  object-fit: contain;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th, td {
  padding: 8px;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  text-align: center;
}

tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

tbody tr:hover {
  background-color: #ddd;
}

td:first-child, td:nth-child(2) {
  text-align: center;
}

td:nth-child(3) {
  padding-left: 20px;
}

td:last-child {
  text-align: center;
}

.imgtable {
  max-width: 100px;
  max-height: 100px;
}

.spinner {
  position: relative;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 6px solid #ff6392;
  border-top-color: #4cc9f0;
  animation: spin 1s infinite linear;
  margin: 20px auto;
}

.message {
  text-align: center;
  margin-top: 10px;
  color: blue;
}








